// Body
$body-bg: white;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$fa-font-path: "../webfonts";

a {
	text-decoration: none;
	color: black;
	transition: 0.2s ease-out;

	&:hover {
		color: $orange;
		transition: 0.2s ease-in;
	}
}

$fontbold: "apercubold";
$fontmed: "apercumedium";
$fontreg: "apercu_regular";
$fontmono: "apercu_monoregular";

$break-xs: 100px;
$break-small: 550px;
$break-med: 900px;
$break-lg: 1360px;
$break-xl: 1910px;

$orange: #de641b;
$grey: #dedcd5;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
