.about-main {
	h1 {
		font-family: $fontbold;
		margin: 5px 0;
		font-size: 2.2em;
	}

	hr {
		content: "";
		background-color: $orange;
		height: 4px;
		width: 40%;
		margin-left: 0;
		border: 0px;
	}

	h4 {
		font-size: 1.6em;
		margin: 10px 0 5px 0;
	}

	p {
		font-size: 1.4em;
		margin-bottom: 5px;
	}

	.about {
		margin: 100px 15%;
		display: flex;

		p {
			padding: 0 50px;
			font-size: 1.2em;
		}
	}

	.contact {
		display: flex;
		margin: 150px 15%;

		img {
			width: 70%;
			margin-right: 100px;
		}
	}

	.location {
		display: flex;
		padding: 100px 15%;
		background-color: $grey;

		.location-detail {
			margin-right: 100px;
		}

		.map {
			width: 70%;
		}

		p {
			margin-top: 5px;
		}
	}

	.team {
		padding: 50px 10%;
		text-align: center;

		hr {
			height: 2px;
			margin: auto;
		}

		p {
			margin-top: 10px;
			font-size: 1.5em;
			color: $orange;
		}

		.team-img {
			margin-bottom: -90px;
			img {
				width: 250px;
				height: 250px;
				border-radius: 300px;
				object-fit: cover;
				object-position: center;
			}
		}

		.team-name {
			background-color: rgba($color: $grey, $alpha: 0.3);
			padding: 100px 5px 30px 5px;
			margin-top: -50px;
			border-radius: 30px;
		}

		.team-items {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}

		.team1,
		.team2,
		.team3,
		.team4,
		.team5 {
			display: block;
			margin-top: 100px;
			width: 30%;
		}
	}

	@media only screen and (max-width: $break-small) {
		h4 {
			font-size: 1.4em;
		}

		p {
			font-size: 1.2em;
		}

		.about {
			flex-direction: column;
			margin: 50px 5%;

			img {
				width: 250px;
			}

			p {
				padding: 20px;
			}
		}

		.contact {
			flex-direction: column;
			margin: 50px 5%;

			.contact-detail {
				text-align: center;
				margin-top: 50px;

				hr {
					margin: auto;
				}
				.contact-title {
					width: 60%;
					margin: 20px 0;
					margin-left: 30px;
				}

				p {
					font-size: 1.3em;
				}
			}
		}

		.location {
			flex-direction: column;
			padding: 50px 5%;

			.location-detail {
				margin: 0;
			}

			.map {
				width: 100%;
				margin-top: 30px;
			}
		}

		.team {
			padding: 70px 5%;

			.team-title {
				width: 100%;
			}

			.team-items {
				flex-direction: column;
			}

			.team1,
			.team2,
			.team3,
			.team4,
			.team5 {
				display: block;
				margin-top: 50px;
				width: 100%;
			}
		}
	}
}
