.about-main {
	display: flex;
	flex-wrap: wrap;

	@media only screen and (min-width: $break-xs) {
		.title {
			margin: 100px 0;
			flex-basis: 100%;

			h1 {
				text-align: center;
				font-family: $fontreg;
				font-size: 2.6em;
			}
		}
		.sidebar {
			width: 10%;
			position: fixed;
			z-index: 1;
			top: 350px;
			left: 40px;
			display: none;

			ul {
				list-style-type: none;
				margin-left: 40px;
				padding-left: 0;
			}
		}

		.about-content {
			width: 100%;
		}

		.about {
			display: flex;
			flex-wrap: wrap;
			vertical-align: middle;
			justify-content: flex-start;
			flex-direction: column;
			margin: 50px 0;
			background-image: url(/image/story.png);
			background-position: center;
			background-size: cover;
			padding: 70px 10px 350px 10px;

			.ourstory {
				color: $orange;

				h1 {
					font-size: 3em;
					font-family: $fontreg;
				}
			}

			img {
				width: 250px;
			}

			.about-img {
				margin-top: 50px;
				img {
					width: 80%;
				}
			}

			p {
				padding: 15px 20px;
				font-size: 1em;
				text-align: justify;
			}

			.aboutwhite {
				color: white;
				margin-top: 40px;
			}
		}

		.team {
			padding: 50px 5%;
			.team-items {
				margin-top: 50px;

				.team-title {
					h1 {
						font-size: 3em;
						color: $orange;
						text-align: right;
						margin-top: 20px;
						font-family: $fontreg;
					}
				}

				.team1 {
					margin-top: 80px;
				}

				.team2,
				.team3,
				.team4,
				.team5 {
					margin-top: 150px;
				}

				.team1,
				.team2,
				.team3,
				.team4,
				.team5 {
					display: flex;
					flex-direction: column;

					.team-img {
						text-align: center;
						img {
							width: 400px;
							height: auto;
						}
					}

					.team-name {
						h1 {
							margin-top: 20px;
						}

						h4 {
							font-style: italic;
							font-size: 1.4em;
						}
					}

					p {
						font-size: 1.1em;
						margin-top: 15px;
					}
				}
			}
		}

		.contact {
			display: flex;
			flex-direction: column;
			margin: 50px 5%;
			justify-content: center;

			h1 {
				font-family: $fontreg;
				color: $orange;
				font-size: 3em;
				text-align: left;
			}

			.contact-detail {
				margin-top: 20px;
				text-align: center;

				p {
					font-size: 1.3em;
				}

				.button-orange {
					margin: 10px 0;
				}
			}

			.sculpt {
				img {
					width: 80%;
					margin: auto;
					margin-top: 50px;
				}
			}

			.modal-body {
				padding: 40px;
			}
		}

		.location {
			display: flex;
			flex-direction: column;
			padding: 50px 5%;

			.title-location {
				text-align: right;
				width: 100%;
				h1 {
					font-family: $fontreg;
					color: $orange;
					font-size: 3em;
					text-align: right;
				}
			}

			.location-detail {
				margin: auto;
				margin-bottom: 100px;
				display: block;
				text-align: center;
				font-size: 1.4em;
			}

			h4 {
				font-family: $fontmed;
			}

			p {
				margin-top: 5px;
			}

			.map {
				width: 100%;
				margin-top: 30px;
			}
		}
	}

	@media only screen and (min-width: $break-small) {
		.location {
			hr {
				width: 15%;
			}

			img {
				width: 25%;
			}
		}

		.contact {
			display: flex;
			flex-direction: row;
			margin: 50px 5%;
		}

		.team {
			padding: 50px 5%;
			.team-items {
				margin-top: 50px;

				.team1,
				.team2,
				.team3,
				.team4,
				.team5 {
					text-align: left;

					p {
						text-align: left;
					}

					.team-name {
						margin: 0;
						margin-bottom: 30px;
					}
				}
			}
		}
	}

	@media only screen and (min-width: $break-lg) {
		h4 {
			font-size: 1.6em;
		}

		p {
			font-size: 1.4em;
		}

		.sidebar {
			width: 10%;
			position: fixed;
			z-index: 1;
			top: 350px;
			left: 40px;
			display: block;

			h5 {
				font-family: $fontreg;
			}

			ul {
				list-style-type: none;
				margin-left: 40px;
				padding-left: 0;
			}

		}

		.sideactive {
			font-family: $fontreg;
			color: $orange;
			a:focus {
				color: $orange;
				font-family: $fontreg;
			}
		}

		.about-content {
			width: 90%;
			margin-left: 15%;
		}

		.about {
			display: flex;
			margin: 0 15% 20px 0;
			flex-direction: row;
			padding: 130px 100px 550px 80px;

			.ourstory {
				width: 18%;
				h1 {
					color: $orange;
					font-size: 4.5em;
					font-family: $fontreg;
				}
			}

			.aboutwhite {
				color: black;
				margin-top: 0;
			}

			.about-text {
				width: 80%;
			}
			p {
				padding: 5px 0 0 150px;
				font-size: 1em;
				text-align: justify;
			}

			.slogan {
				font-size: 1.4em;
			}
		}

		.team {
			padding: 50px 15% 0 0;

			.team-items {
				margin-top: 50px;

				.team-title {
					text-align: right;
					h1 {
						font-size: 4.5em;
						color: $orange;
						font-family: $fontreg;
					}
				}

				.team1 {
					margin-top: 80px;
				}

				.team2,
				.team3,
				.team4,
				.team5 {
					margin-top: 150px;
				}

				.team1,
				.team2,
				.team3,
				.team4,
				.team5 {
					display: flex;
					flex-direction: row;

					.team-img {
						img {
							width: 400px;
							height: auto;
						}
					}

					.team-name {
						margin-left: 40px;
						h1 {
							font-size: 2em;
							margin-top: 0;
						}

						h4 {
							font-style: italic;
							font-size: 1.4em;
						}

						p {
							font-size: 1.2em;
							margin-top: 15px;
						}

						.team-desc {
							margin-top: 30px;
						}
					}
				}
			}
		}

		.contact {
			flex-direction: row;
			margin: 150px 15% 50px 0;

			h1 {
				font-size: 4em;
				text-align: right;
			}

			.contact-detail {
				text-align: left;
			}

			img {
				margin-left: 50px;
			}
		}

		.location {
			margin: 150px 15% 0 0;
			padding: 50px;
			flex-direction: row;
			flex-wrap: wrap;

			.title-location {
				h1 {
					font-size: 4em;
				}
			}

			.map {
				width: 100%;
			}
		}
	}
}
