.artworks {
	margin: 20px 10%;
	@media only screen and (max-width: $break-med) {
		margin: 20px 5%;
	}
	@media only screen and (max-width: $break-small) {
		margin: 20px 2%;
	}

	h1 {
		margin: 10px 0;
	}

	%circle {
		height: 30px;
		width: 30px;
		border-radius: 30px;
		border: 1px solid rgba($color: #000000, $alpha: 0.2);
		margin: 5px 10px 5px 0;
		box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.2);
	}

	#price {
		font-family: $fontmono;
	}

	a {
		text-decoration: none;
		color: black;
		transition: 0.2s ease-out;

		&:hover {
			color: $orange;
			transition: 0.2s ease-in;
		}
	}

	.flex-artworks {
		display: flex;

		@media only screen and (max-width: $break-small) {
			flex-direction: column;
		}

		.sidebar {
			padding: 0px 10px;
			width: 20%;
			border-right: 1px solid black;

			@media only screen and (min-width: $break-small) {
				width: 25%;
			}

			@media only screen and (min-width: $break-large) {
				width: 20%;
			}

			@media only screen and (max-width: $break-small) {
				display: flex;
				justify-content: space-around;
				width: 100%;
				border-right: 0px;
				margin: 0 0 30px 0;

				div {
					width: 30%;

					h1 {
						margin: 10px 0;
					}
				}

				.color {
					display: block;

					.item {
						display: grid;
						grid-template-columns: repeat(2, 1fr);
					}
				}
			}

			ul {
				list-style-type: none;
				padding: 0;
				margin: 5px 0;

				li {
					margin: 10px 0;
				}
			}

			h1 {
				margin: 40px 0 10px 0;
				font-size: 1.5em;
				font-family: $fontmed;
			}

			.item {
				display: flex;
				flex-wrap: wrap;
			}

			.black {
				background-color: black;
				@extend %circle;
			}

			.white {
				background-color: white;
				@extend %circle;
			}

			.blue {
				background-color: rgb(52, 104, 216);
				@extend %circle;
			}

			.red {
				background-color: rgb(216, 76, 57);
				@extend %circle;
			}

			.green {
				background-color: rgb(71, 163, 71);
				@extend %circle;
			}

			.multicolor {
				background: rgb(238, 10, 14);
				background: linear-gradient(
					180deg,
					rgb(202, 61, 64) 33.3%,
					rgb(76, 76, 202) 33.3%,
					rgb(108, 184, 120) 66.6%,
					rgb(155, 150, 63) 66.6%
				);
				@extend %circle;
			}
		}
	}
}

.selected {
	font-weight: bolder;
	color: $orange;
}
