.artworks {
	margin: 20px 10%;
	@media only screen and (max-width: 1024px) {
		margin: 20px 5%;
	}
	@media only screen and (max-width: 450px) {
		margin: 20px 2%;
	}
	padding: 20px 0;

	%circle {
		height: 30px;
		width: 30px;
		border-radius: 30px;
		border: 1px solid #ededed;
		margin: 5px 10px 5px 0;
	}

	a {
		text-decoration: none;
		color: black;
	}

	.selected {
		font-weight: bolder;
		color: blue;
	}

	.flex-artworks {
		display: flex;

		.sidebar {
			padding: 0px 10px;
			width: 15%;
			@media only screen and (max-width: 1024px) {
				width: 35%;
			}

			@media only screen and (max-width: 450px) {
				width: 45%;
			}
			border-right: 1px solid black;

			ul {
				list-style-type: none;
				padding: 0;
				margin: 5px 0;

				li {
					margin: 10px 0;
				}
			}

			h1 {
				margin: 40px 0 10px 0;
			}

			.color {
				display: flex;
				flex-wrap: wrap;
			}

			.black {
				background-color: black;
				@extend %circle;
			}

			.white {
				background-color: white;
				@extend %circle;
			}

			.blue {
				background-color: blue;
				@extend %circle;
			}

			.red {
				background-color: red;
				@extend %circle;
			}

			.green {
				background-color: green;
				@extend %circle;
			}

			.multicolor {
				background: rgb(238, 10, 14);
				background: linear-gradient(
					90deg,
					rgba(238, 10, 14, 1) 0%,
					rgba(12, 12, 238, 1) 35%,
					rgba(11, 231, 43, 1) 65%,
					rgba(255, 246, 47, 1) 100%
				);
				@extend %circle;
			}
		}

		.products {
			display: grid;
			grid-template-columns: repeat(4, 2fr);
			grid-gap: 30px;

			@media only screen and (max-width: 1024px) {
				grid-template-columns: repeat(2, 2fr);
			}

			@media only screen and (max-width: 450px) {
				grid-template-columns: repeat(1, 2fr);
			}

			text-align: center;
			margin-left: 40px;
			.products-img {
				img {
					width: 90%;
				}

				h2 {
					margin: 20px 0 0 0;
				}

				h3 {
					margin: 10px 0 0 0;
				}

				p {
					margin: 10px 0 0 0;
				}
			}
		}
	}
}
