.break {
	flex-basis: 100%;
	height: 0;
}

.breadcrumbs {
	margin: 70px 15% 0 15%;
	display: flex;
	text-align: left;
	justify-content: flex-start;

	a {
		color: $orange;
	}

	@media only screen and (max-width: $break-small) {
		margin: 20px 5% 0px 5%;

		p {
			margin: 5px;
		}
	}
}

.artworks-detail {
	margin: 10px 15% 100px 15%;
	display: flex;

	.art {
		margin: 0 3% 0 0;
		width: 40%;

		img {
			width: 100%;
		}
		.art-img {
			text-align: center;
		}

		.art-nav {
			img {
				width: 90%;
				margin-top: 10px;
			}
		}
	}

	%text {
		letter-spacing: 0.3rem;
		margin: 0 0 10px 0;
	}

	h1 {
		font-size: 4em;
		@extend %text;
	}

	h2 {
		font-size: 2em;
		@extend %text;
	}

	h3 {
		font-size: 1.5em;
		margin: 0 0 10px 0;
		letter-spacing: 0.2em;
	}

	p {
		font-size: 1.1em;
		margin: 0 0 10px 0;
	}

	.artwork-button {
		display: inline-block;

		.button-black {
			margin: 20px 20px 0 0;
		}
	}

	@media only screen and (max-width: $break-small) {
		margin: 10px 5% 50px 5%;
		flex-direction: column;

		.art {
			width: 100%;
			margin: 30px 0;
			text-align: center;

			img {
				width: 80%;
			}
		}

		h1 {
			font-size: 2.5em;
		}

		h2 {
			font-size: 1.6em;
		}

		h3 {
			font-size: 1.3em;
		}

		p {
			font-size: 1.05em;
		}
	}
}

.title {
	margin: 100px 17% 10px 17%;
	@media only screen and (max-width: $break-small) {
		margin: 100px 5% 20px 5%;
	}
	h1 {
		font-size: 3.1em;
		letter-spacing: 0.1em;
		text-align: center;
	}
	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid black;
		padding: 0;
		width: 15%;
		margin: auto;
	}
}

.similiar {
	margin: 10px 12% 100px 12%;
	display: flex;
	justify-content: center;
	text-align: center;

	.art-image {
		margin: 0px 10px;
		margin-bottom: 50px;

		img {
			width: 100%;
		}

		h2 {
			margin: 20px 0 0 0;
		}

		h3 {
			margin: 10px 0 0 0;
		}

		p {
			margin: 10px 0 0 0;
		}

		#price {
			font-family: "apercu_monoregular";
		}
	}

	@media only screen and (max-width: $break-small) {
		margin: 10px 5% 100px 5%;
		grid-template-columns: repeat(1, 2fr);

		.art-image {
			width: 100%;

			img {
				width: 80%;
			}
		}
	}
}
