.title-artist {
	margin: 60px 0 0 0;
	h1 {
		font-size: 3.1em;
		text-align: center;
		font-family: $fontmed;
	}
}

.sort-name {
	margin: 10px 35% 10px 35%;
	display: flex;
	justify-content: space-around;

	a,
	p {
		color: black;
		transition: 0.2s ease-out;
		font-size: 1.3em;
		height: 100%;

		&:hover {
			color: $orange;
			transition: 0.2s ease-in;
		}
	}
}
