.artist-detail {
	display: flex;
	flex-wrap: wrap;

	@media only screen and (min-width: $break-xs) {
		flex-direction: column;
		margin: 20px 5%;

		.back {
			width: 100%;
		}
		.by {
			margin-right: 20px;
		}

		.ht {
			margin-right: 13px;
		}

		.wr {
			margin-right: 47px;
		}
		.artistd-bio {
			margin: 0 10%;

			h1 {
				text-align: center;
				font-size: 2em;
				margin: 10px;
				font-family: $fontreg;
			}

			p {
				font-family: $fontreg;
			}
		}

		.artistd-photo {
			text-align: center;

			img {
				width: 60%;
			}
		}

		.bio-detail {
			margin: 30px 0;
			p {
				margin: 3px 0;
			}
		}
	}

	@media only screen and (min-width: $break-med) {
		margin: 50px 10%;
		flex-direction: row;

		.artistd-photo {
			img {
				width: 100%;
			}
		}
	}

	@media only screen and (min-width: $break-lg) {
		margin: 50px 18%;
	}
}

.artistd-photo {
	margin-right: 40px;
}

.title {
	margin: 60px 0 50px 0;
	h1 {
		font-size: 3.1em;
		text-align: center;
		letter-spacing: 0.25em;
	}
	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid black;
		padding: 0;
		width: 15%;
		margin: auto;
	}
}

.title-related {
	margin: 130px 18% 50px 18%;
	text-transform: uppercase;
	text-align: center;
	h1 {
		font-size: 1.7em;
		font-family: $fontreg;
	}
}

.art-related {
	margin: 10px 18% 100px 18%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;

	.related-item {
		img {
			width: 330px;
			height: 330px;
			object-fit: cover;
			object-position: center;
			opacity: 1;
			transition: 0.2s ease-in;

			&:hover {
				opacity: 0.8;
				transition: 0.2s ease-out;
			}
		}

		h2 {
			font-size: 1.3em;
			font-family: $fontmed;
			margin-top: 15px;
		}

		h3 {
			font-size: 1.3em;
			margin-top: 20px;
			font-family: $fontreg;
		}

		p {
			font-family: $fontreg;
			margin: 3px 0 0 0;
			color: rgb(138, 138, 138);
			transition: 0.2s ease-out;

			&:hover {
				color: $orange;
				transition: 0.2s ease-in;
			}
		}
	}

	@media only screen and (min-width: $break-xs) {
		margin: 10px 5% 100px 5%;
		flex-wrap: wrap;
		justify-content: center;

		.art-image {
			width: 100%;
			margin: 40px 40px 10px 40px;
			img {
				width: 250px;
			}
		}
	}

	@media only screen and (min-width: $break-med) {
		margin: 10px 18% 100px 18%;
		justify-content: center;
		flex-wrap: nowrap;

		.art-image {
			margin: 0px 10px;
			margin-bottom: 50px;
			width: 33%;
		}
	}
}
