.artist-section {
	.title-artist {
		margin: 60px 0 0 0;
		h1 {
			font-size: 2.5rem;
			text-align: center;
			font-family: $fontreg;
			letter-spacing: 0.1em;
		}
	}

	.sort-name {
		margin: 30px 10%;
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		hr {
			width: 100%;
		}

		.alphabet {
			display: inline-block;

			a {
				margin: 0 17px;
			}
		}

		a,
		p {
			color: black;
			transition: 0.2s ease-out;
			font-size: 1.3em;
			height: 100%;
			text-transform: uppercase;

			&:hover {
				color: $orange;
				transition: 0.2s ease-in;
			}
		}
	}

	.artist-items {
		margin-top: 0;
		grid-template-columns: repeat(4, 2fr);

		.artist1 {
			margin: 0;
		}
	}

	@media only screen and (max-width: $break-small) {
		.sort-name {
			margin: 20px 10%;

			a,
			p {
				font-size: 1.1em;
			}
		}

		.artists-home {
			margin: 20px 10%;
		}
	}
}
