a:hover {
	text-decoration: none;
}

.mono {
	font-family: $fontmono;
}

.break {
	flex-basis: 100%;
	height: 0;
}

@media only screen and (min-width: $break-xs) {
	%h1-center {
		font: 3.1em $fontbold;
		letter-spacing: 0.11em;
		margin: 30px 0;
		color: black;
		text-align: center;

		@media only screen and (max-width: $break-small) {
			font-size: 2.5em;
		}
	}

	%grid-3 {
		display: grid;
		grid-template-columns: repeat(3, 2fr);
		grid-gap: 30px;
	}

	.index {
		hr {
			display: block;
			height: 1px;
			border: 0;
			border-top: 1px solid black;
			padding: 0;
			margin: auto;
			width: 65%;
		}

		.calltoaction {
			background-image: url(/image/header.jpg);
			height: auto;
			width: 99vw;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: flex;
			flex-direction: column;
			justify-content: center;
			vertical-align: middle;

			.cta-text {
				padding: 17vh 0;
				background-color: rgba($color: #000000, $alpha: 0.8);
				text-align: center;
			}

			h1 {
				font-family: $fontbold;
				color: white;
				font-size: 3.5em;
				text-align: center;
				letter-spacing: 0.1em;
				margin-bottom: 0;
			}

			img {
				width: 35%;
			}

			h4 {
				font-weight: 300;
				font-size: 20px;
				line-height: 36px;
				text-align: center;
				letter-spacing: 0.15em;
				margin: 0;
			}

			.button-ctr {
				text-align: center;
				margin: 30px 0;
				margin-top: 20px;

				.button-white-fill {
					width: 300px;
					font-size: 1.3em;
					padding: 20 10px;
				}
			}
		}

		.featured {
			display: block;
			margin: 20px 10% 100px 10%;

			h1 {
				@extend %h1-center;
				text-align: center;
			}

			.painting-featured {
				@extend %grid-3;
				grid-template-columns: repeat(1, 2fr);
				margin-top: 20px;

				.painting-item {
					img {
						width: 370px;
						height: 370px;
						object-fit: cover;
						object-position: center;
						opacity: 100%;
						transition: 0.2s ease-in;
						margin: auto;

						&:hover {
							filter: brightness(120%);
							transition: 0.2s ease-out;
						}
					}

					.painting-text {
						text-align: left;

						h2 {
							margin: 20px 0 0 0px;
							font-size: 1.7em;
							font-family: $fontreg;
						}

						h3 {
							margin: 20px 0 0 0;
							font-size: 1.6em;
							font-family: $fontreg;
						}

						p {
							margin: 3px 0 0 0;
							font-size: 1.2em;
							color: rgb(138, 138, 138);
						}
					}
				}
			}
		}

		.price {
			margin: 100px 5%;
			text-decoration: none;

			h1 {
				@extend %h1-center;
				text-align: left;
			}

			.price2 {
				display: grid;
				grid-template-columns: repeat(1, 2fr);
				grid-gap: 20px;
				margin: 20px 0;
				opacity: 100%;

				h2 {
					font-size: 2em;
					margin: 0;
				}

				h1 {
					margin: 0;
					font-size: 4.2em;
					color: white;
				}
			}

			%price-pic {
				color: white;
				padding: 80px 22% 80px 7%;
				letter-spacing: 0.1em;
				cursor: pointer;
				background-repeat: no-repeat;
				background-size: cover;

				opacity: 100%;
				transition: 0.3s ease-out;

				&:hover {
					filter: brightness(150%);
				}
			}

			.price-pic1 {
				background-image: url(/image/price1.png);
				@extend %price-pic;
			}

			.price-pic2 {
				background-image: url(/image/price2.png);
				@extend %price-pic;
			}
		}

		.categories {
			margin: 100px 10%;
			color: white;

			h1 {
				@extend %h1-center;
				text-align: left;
			}

			a {
				color: black;
			}
			p {
				font-size: 1.8em;
				padding: 10px 0 20px 0;
				margin: 0;
				color: white;
				font-family: $fontmed;
			}

			.category-items {
				display: grid;
				grid-template-columns: repeat(1, 2fr);
				margin: 0;
			}

			.category-items2 {
				display: grid;
				grid-template-columns: repeat(1, 2fr);
				margin: 0;
			}

			.category1,
			.category2,
			.category3,
			.category4,
			.category5 {
				background-image: url(/image/cat1.png);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				margin-bottom: 20px;

				p {
					background-color: rgba($color: black, $alpha: 0.6);
					padding: 120px 20px;
					transition: 0.2s ease-out;
				}

				&:hover {
					p {
						background-color: rgba($color: black, $alpha: 0.2);
						font-size: 3.3em;
						padding: 116px 20px;
						transition: 0.2s ease-in;

						@media only screen and (max-width: $break-small) {
							font-size: 2.2em;
						}
					}
				}
			}

			.category3 {
				background-image: url(/image/photography.jpg);
			}
		}
	}

	.products {
		margin: 100px 10%;
		display: block;

		h1 {
			@extend %h1-center;
		}

		.more-product {
			width: 100%;
			margin: 40px 0;
			text-align: center;
		}

		.products-items {
			display: grid;
			grid-template-columns: repeat(1, 2fr);
			grid-gap: 30px;
			margin-top: 30px;
			margin-bottom: 30px;

			.item {
				color: black;

				img {
					width: 380px;
					height: 380px;
					opacity: 100%;
					object-fit: cover;
					transition: 0.2s ease-out;
					object-position: center;

					&:hover {
						filter: brightness(120%);
						transition: 0.2s ease-in;
					}
				}

				.item-text {
					text-align: left;

					h2 {
						margin: 20px 0 0 0px;
						font-size: 1.5em;
						font-family: $fontreg;
					}

					h3 {
						margin: 20px 0 0 0;
						font-size: 1.5em;
						font-family: $fontreg;
					}

					p {
						margin: 3px 0 0 0;
						color: rgb(138, 138, 138);
					}
				}
			}
		}
	}

	.artists-home {
		margin: 100px 10%;
		h1 {
			@extend %h1-center;
		}

		a {
			color: black;
		}

		.artist-items {
			@extend %grid-3;
			grid-template-columns: repeat(1, 1fr);
			margin: 70px 0;
			text-align: center;

			img {
				opacity: 100%;
				width: 320px;
				height: 320px;
				object-fit: cover;
				object-position: center;
				z-index: -1;
				transition: 0.2s ease-out;

				&:hover {
					opacity: 80%;
					transition: 0.2s ease-in;
				}
			}

			.artist1 {
				margin-bottom: 30px;
			}

			.artist-name {
				text-align: center;
				margin-top: 15px;
				h4 {
					font-size: 1.4em;
					margin: 0;
					transition: 0.2s ease-out;
					font-family: $fontreg;
					text-transform: uppercase;

					&:hover {
						color: $orange;
						transition: 0.2s ease-in;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: $break-med) {
	.index {
		hr {
			width: 40%;
		}

		.calltoaction {
			h1 {
				font-size: 5em;
			}

			img {
				width: 25%;
			}
		}

		.featured {
			.painting-featured {
				grid-template-columns: repeat(2, 2fr);
				margin: 20px 40px;

				.painting-item {
					img {
						width: 350px;
						height: 350px;
						object-fit: cover;
						object-position: center;
					}
				}
			}
		}
		.price {
			margin: 100px 10%;

			.price2 {
				grid-template-columns: repeat(1, 2fr);
				h1 {
					font-size: 6em;
				}

				h2 {
					font-size: 3.6em;
				}
			}
		}

		.products-items {
			margin-top: 40px;
		}

		.categories {
			p {
				font-size: 3em;
			}

			.category-items {
				grid-template-columns: repeat(1, 2fr);
				margin: 0px 10px;
				grid-gap: 10px;
			}

			.category-items2 {
				grid-template-columns: repeat(1, 2fr);
				margin: 0 10px;
				grid-gap: 10px;
			}

			.category1,
			.category2,
			.category3,
			.category4,
			.category5 {
				&:hover {
					p {
						font-size: 3.3em;
					}
				}
			}
		}
	}

	.products {
		.products-items {
			grid-template-columns: repeat(2, 2fr);
		}
	}

	.artists-home {
		margin: 100px 10%;
		.artist-items {
			grid-template-columns: repeat(2, 1fr);
			margin-top: 20px;
			grid-gap: 30px;
		}
	}
}

@media only screen and (min-width: $break-lg) {
	.index {
		hr {
			width: 20%;
		}

		.calltoaction {
			h1 {
				font-size: 5.5em;
			}

			img {
				width: 15%;
			}
		}

		.featured {
			.painting-featured {
				grid-template-columns: repeat(3, 2fr);

				.painting-item {
					img {
						width: 390px;
						height: 390px;
						object-fit: cover;
						object-position: center;
					}
				}
			}
		}
		.price {
			margin: 100px 10%;

			.price2 {
				grid-template-columns: repeat(2, 2fr);
				margin: 20px 40px;

				h1 {
					font-size: 6em;
				}

				h2 {
					font-size: 3.6em;
				}
			}
		}

		.categories {
			p {
				font-size: 3em;
			}

			.category-items {
				grid-template-columns: repeat(2, 2fr);
				margin: 30px 30px;
				grid-gap: 30px;
			}

			.category-items2 {
				grid-template-columns: repeat(3, 2fr);
				margin: 0 30px;
				grid-gap: 30px;
			}

			.category1,
			.category2,
			.category3,
			.category4,
			.category5 {
				&:hover {
					p {
						font-size: 3.3em;
					}
				}
			}
		}
	}

	.products {
		.products-items {
			grid-template-columns: repeat(4, 2fr);
			margin: 40px 40px;

			.item {
				img {
					width: 350px;
					height: 350px;
				}
			}
		}
	}

	.artists-home {
		margin: 100px 10%;
		.artist-items {
			grid-template-columns: repeat(4, 1fr);
			margin: 50px 40px 40px 0;
			grid-gap: 20px;
		}
	}
}

@media only screen and (min-width: $break-xl) {
	.index {

		.featured {
			.painting-featured {
				grid-template-columns: repeat(3, 2fr);

				.painting-item {
					img {
						width: 420px;
						height: 420px;
						object-fit: cover;
						object-position: center;
					}
				}
			}
		}
	}
}
