.services {
	padding: 100px 15%;

	h1 {
		font-family: $fontbold;
		margin: 5px 0;
		font-size: 3.5em;
	}
	hr {
		content: "";
		background-color: $orange;
		height: 4px;
		width: 10%;
		margin-left: 0;
		border: 0px;
	}

	.service-item {
		display: grid;
		grid-template-columns: repeat(3, 2fr);
		margin-top: 40px;
		grid-column-gap: 40px;

		.p-1 {
			margin: 25px 0;
		}

		.number {
			width: 100px;
		}

		p {
			font-size: 2em;
			margin: 10px 0;
		}
	}
}

.projects {
	margin: 50px 15%;

	.title-projects {
		display: block;
		text-align: center;

		p {
			font-size: 1.4em;
			margin: 10px 0;
		}
	}

	.projects-item {
		display: grid;
		grid-template-columns: repeat(2, 2fr);
		grid-column-gap: 60px;
		grid-row-gap: 80px;
		margin-top: 50px;

		.project1 {
			border: 1px solid rgba($color: #000000, $alpha: 0.2);
			border-radius: 20px;

			img {
				width: 100%;
				height: 300px;
				object-fit: cover;
				object-position: center;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
			}

			.project-text {
				padding: 10px 30px 20px 30px;

				h4 {
					margin: 10px 0;
					font-size: 2em;
				}

				.place-date {
					p {
						margin: 5px 0 5px 0;
						font-size: 1em;
					}
				}

				p {
					margin: 10px 0;
					font-size: 1.3em;
				}
			}

			.button-list-black {
				margin: 5px 0;
				padding: 10px 20px;
				border-radius: 10px;
				background-color: $orange;
				border: none;
				color: white;
				transition: 0.2s ease-out;

				&:hover {
					background-color: black;
					transition: 0.2s ease-in;
				}
			}
		}
	}
}

.modalcustom {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	max-width: 100%;

	.modal-body {
		width: 600px;
	}
}
