.search-container {
	margin: 50px 15%;
}

.result {
	display: flex;
	margin: 20px 0;

	.queryinput {
		color: $orange;
	}

	p {
		margin: 5px 0;
		color: rgb(116, 116, 116);
		font-size: 1em;
		a {
			margin: 5px 0;
			color: rgb(116, 116, 116);
			font-size: 1em;
		}
	}

	img {
		width: 220px;
		height: 220px;
		object-fit: cover;
		object-position: center;
	}

	h2 {
		font-family: $fontmed;
	}

	.result-text {
		margin-left: 20px;
	}
}
