.search-container {
	margin: 50px 15%;
}

.result {
	display: flex;
	margin: 20px 0;

	.queryinput {
		color: $orange;
	}

	p {
		margin: 5px 0;
	}

	img {
		width: 200px;
	}

	.result-text {
		margin-left: 20px;
	}
}
