.alert-success {
	color: rgb(0, 0, 0);
	background-color: #86fa90;
	border-color: #598f5e;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.3s ease-in;
	font-size: 1.2em;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.3s ease-in;
}
