@keyframes appearing {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes leftToRight {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes rightToLeft {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0%);
	}
}
