.wrapper {
	display: flex;
	height: 100%;
}

.vertical-menu {
	width: 15%;
	height: 100%;
	background-color: #dddcd9;
	text-align: center;

	img {
		width: 70%;
		justify-content: center;
		padding: 10px;
	}

	h2 {
		padding: 10px 20px;
		text-align: start;
	}

	a {
		color: #545454;
		display: block;
		padding: 20px;
		text-decoration: none;
		text-align: start;

		&:hover {
			background-color: #f4f4f2;
		}

		&.active {
			background-color: #f4f4f2;
			color: #545454;
			font-family: "apercubold";
		}
	}
}

.content-admin {
	padding: 35px 100px;
	width: 50%;
	vertical-align: center;
	overflow-y: scroll;
	.formgroup {
		display: flex;
		margin: 40px 0;
		font-size: 0.8em;

		select {
			width: 78%;
			border: 1px solid #bdbdbd;
			color: #545454;
			border-radius: 10px;
			padding: 8px 20px;
			outline: 0;
		}

		label {
			width: 20%;
			color: #545454;
		}

		input {
			width: 80%;
			border: 1px solid #bdbdbd;
			color: #545454;
			border-radius: 10px;
			padding: 8px 20px;
			outline: 0;
		}

		input[type=text]:focus {
			border: 1px solid #545454;
		}
	}
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 40px;
	color: #545454;

	td,
	th {
		border-bottom: 1px solid #545454;
		text-align: left;
		padding: 8px;
	}
}
