footer {
	img {
		width: 10%;
		margin: 10px;
	}

	background-color: $grey;
	padding: 20px 10%;
	color: #545454;

	.footersect {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		div {
			width: 32%;
		}

		.contactus {
			display: flex;
			flex-wrap: wrap;
			h3 {
				margin: 0px 0 3px 10px;
				font-size: 1.2em;
				font-family: $fontmed;
			}

			p {
				margin: 0 0 15px 27px;
			}

			#p2 {
				margin: 0 0 15px 10px;
			}
			.break {
				flex-basis: 100%;
				height: 0;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	ul li {
		list-style-type: none;
		margin-bottom: 15px;
	}

	a {
		text-decoration: none;
		color: #545454;
	}

	.contactus {
		display: flex;
		flex-wrap: wrap;
		margin: 10px;
		h4 {
			margin: 0px 10px 3px 10px;
		}

		p {
			margin: 0 27px 15px 27px;
		}

		#p2 {
			margin: 0 10px 15px 10px;
		}
		.break {
			flex-basis: 100%;
			height: 0;
		}
	}

	.link1 {
		padding-left: 20px;
		border-left: 1px solid #5d5d5d;
	}

	.link2 {
		border-left: 1px solid #5d5d5d;
		padding-left: 20px;
	}

	@media only screen and (max-width: $break-small) {
		padding: 20px 5%;
		img {
			width: 30%;
			margin: 10px 0;
		}
		.footersect {
			div {
				width: 100%;
			}

			.link1,
			.link2 {
				border-top: 1px solid #5d5d5d;
				border-left: 0px;
				margin: 10px;
				padding: 20px 0;
			}
		}
	}
}
