.navbar1 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 5px 15% 0 15%;

	@media only screen and (max-width: $break-med) {
		margin: 5px 5%;
	}
	padding: 10px 0 0 0;
	font-size: 1em;
	a {
		text-decoration: none;
		color: black;
	}

	.right {
		display: flex;
	}
}

//navbar text
.navbar2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	vertical-align: middle;
	margin: 5px 15% 0px 15%;
	@media only screen and (max-width: $break-small) {
		margin: 20px 5%;
	}

	@media only screen and (min-width: $break-med) {
		justify-content: center;
	}

	.burger {
		display: flex;
		flex-direction: column;
		justify-content: center;
		vertical-align: middle;
		cursor: pointer;
		@media only screen and (min-width: $break-med) {
			display: none;
		}
	}

	.burger div {
		width: 30px;
		height: 3px;
		background-color: black;
		margin: 2px;
	}

	img {
		width: 20%;
		@media only screen and (min-width: $break-med) {
			width: 15%;
		}
	}
}

.navigation {
	display: flex;
	justify-content: center;
	box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.2);
	ul {
		list-style-type: none;
		padding: 0;

		li {
			float: left;
		}

		li a {
			text-decoration: none;
			color: black;
			padding: 10px;
			font-weight: 400;
			font-size: 1.2em;
			margin: 0 10px;
		}
	}
}

@media only screen and (max-width: $break-med) {
	body {
		overflow-x: hidden;
	}
	.navigation {
		.nav-links {
			position: absolute;
			height: 92vh;
			top: 8vh;
			right: 0px;
			background-color: #ededed;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;
		}

		li {
			opacity: 0;
		}
	}

	.burger {
		display: block;
	}
}

.nav-active {
	transform: translateX(0%);
}
