.navbar1 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 5px 15% 0 10%;

	@media only screen and (max-width: $break-med) {
		margin: 5px 5%;
	}
	padding: 10px 0 0 0;
	font-size: 1em;
	a {
		text-decoration: none;
		color: black;
	}

	.left {
		li {
			list-style-type: none;
		}
	}

	.right {
		display: flex;

		.badge {
			background-color: $orange;
			border-radius: 10px;
			color: white;
			display: inline-block;
			font-size: 10px;
			line-height: 1;
			padding: 3px 7px;
			text-align: center;
			white-space: nowrap;
		}
	}
}

//navbar text
.navbar2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	vertical-align: middle;
	margin: 5px 10% 0px 10%;
	@media only screen and (max-width: $break-small) {
		margin: 20px 5%;
	}

	@media only screen and (min-width: $break-med) {
		justify-content: center;
	}

	.burger {
		display: flex;
		flex-direction: column;
		justify-content: center;
		vertical-align: middle;
		cursor: pointer;
		@media only screen and (min-width: $break-small) {
			display: none;
		}
	}

	.burger div {
		width: 30px;
		height: 3px;
		background-color: black;
		margin: 2px;
	}

	img {
		width: 20%;
		@media only screen and (min-width: $break-med) {
			width: 15%;
		}
	}
}

.navigation {
	position: sticky;
	top: 20px;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.2);

	img {
		display: none;
	}
	ul {
		list-style-type: none;
		padding: 0;

		li {
			float: left;
		}

		$duration: .2s;
		$distance: 8px;
		$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

		li a {
			font-size: 1.3em;
			margin: 0 20px;
			color: black;
			position: relative;
			text-decoration: none;
			padding-bottom: 8px;

			&:before,
			&:after {
				content: '';
				position: absolute;
				bottom: 2px;
				left: 0;
				right: 0;
				height: 2px;
				background-color: $orange;
			}
			&:before {
				opacity: 0;
				transform: translateY(- $distance);
				transition: transform 0s $easeOutBack, opacity 0s;
			}
			&:after {
				opacity: 0;
				transform: translateY($distance/2);
				transition: transform $duration $easeOutBack, opacity $duration;
			}
			&:hover,
			&:focus {
				&:before,
				&:after {
					opacity: 1;
					transform: translateY(0);
				}
				&:before {
					transition: transform $duration $easeOutBack, opacity $duration;
				}
				&:after {
					transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
				}
			}
		}
	}
}

@media only screen and (max-width: $break-small) {
	body {
		overflow-x: hidden;
	}
	.navigation {
		position: absolute;
		height: 100%;
		top: 0;
		right: 0px;
		background-color: rgba($color: white, $alpha: 1);
		width: 50%;
		transform: translateX(-200%);
		transition: 0.5s ease-in;
		z-index: 3;
		box-shadow: -5px -5px 10px rgba($color: #000000, $alpha: 0.1);
		text-align: center;
		img {
			display: block;
			width: 200px;
		}

		#burger {
			width: 20px;
			cursor: pointer;
		}

		ul {
			display: flex;
			flex-direction: column;
			margin-top: 30px;
			text-align: center;

			li {
				margin-top: 30px;
				opacity: 60%;
				transition: 0.3s ease-in;

				&:hover {
					opacity: 100%;
					transition: 0.3s ease-out;
				}
			}
		}
	}

	.burger {
		display: block;
	}
}

.active {
	transform: translateX(-100%);
	transition: 0.5s ease-out;
}
